<h1>Who are we?</h1>
<p><strong>TPFrenzy</strong> is an Angular application developed by three cool cats:</p>
<p>Jon 🐱</p>
<p>Kayla 🐱</p>
<p>Spencer 🐱 (in order of least importance to most).</p>
<p>During this pandemic, this team of rebel-rousers decided to solve a problem many were facing. What was this problem? It's quite silly to be honest.</p>
<p>TOILET PAPER IS OUT OF STOCK!!!!!!!</p>
<p> Screamed the local townfolk online and outside (even though everyone is supposed to be at home social-distancing but whatever...). This was the problem the feline trio set out to fix.</p>
<p>How? You might ask. Well, they created this app(the one you're using right now) to display where toilet paper is available for puchase in your area!</p>
<p>Merchants post on the app their location and stock levels. Consumers buy the product. It's that simple!</p>
<p>"Keep Your Behind Feline-Fine!" - TPFrenzy Moto (TradeMark Pending)</p>